@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');



$primary-color: #E3106E;
$primary-shade-800: #FD3392;
$primary-shade-700: #FD66AD;
$primary-shade-600: #FE99C9;
$primary-shade-500: #FECCE4;
$primary-shade-400: #FFE5F1;
$primary-shade-300: #FFF2F8;

$secondary-color: #04032E;
$secondary-shade-800: #020134;
$secondary-shade-700: #35345D;
$secondary-shade-600: #676785;
$secondary-shade-500: #9A99AE;
$secondary-shade-400: #CCCCD6;
$secondary-shade-300: #E6E6EB;


$text-color: #FFFFFF;
$text-shade-800: #CCCCCC;
$text-shade-700: #999999;
$text-shade-600: #666666;
$text-shade-500: #333333;
$text-shade-400: #191919;
$text-shade-300: #0D0D0D;

$error-state-color: #F63333;
$warning-state-color: #F8BF2D;
$info-state-color: #2F5CFB;
$success-state-color: #1EC24C;
$disable-state-color: #D8D8D8;

$bg-dark-1: #000000;
$bg-dark-2: #161A1E;
$bg-dark-3: #141C26;

$bg-white-1: #FFFFFF;
$bg-white-2: #E0E0E0;
$bg-white-3: #ADADAD;

$template-font: 'IBM Plex Sans', sans-serif;
$heading-font: 'IBM Plex Sans', sans-serif;

$transition-base: all 0.3s;
