/************************ index - 1  ****************/

/************* hero section start **************/
.hero-section {
  height: 840px;
  width: 100%;
  margin-top: -200px;
  background-repeat: no-repeat;
  background-size: cover;

  .hero-content {
    width: 577px;
    padding-top: 269px;
    // margin-left: 72px;
    color: $text-color;

    @include screen-768 {
      width: initial;
    }
  }

  .hero-p {
    width: 532px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    color: $text-color;
  }

  .hero-image {
    right: -90px;
    bottom: 0;
    position: absolute;
  }

  @include screen-1900 {
    background-position: center bottom;
    background-size: cover;
  }

  @include screen-1700 {
    .hero-image {
      right: -150px;
    }
  }

  @include screen-1400 {
    .hero-image {
      right: -300px;
    }
  }

  @include large-screen {
    background-size: cover;
  }

  @include screen-992 {
    .hero-content-left {
      margin-bottom: 60px;
    }
  }

  @include screen-768 {
    height: 700px;
    margin-top: -100px;

    .hero-content {
      padding-top: 200px;
    }

    .hero-p {
      width: 100%;
    }

    .hero-image {
      right: 0;
      bottom: -100px;
      position: absolute;
    }
  }

  @include portrait-phone {
    .hero-content {
      margin-left: -25px;
    }

    .hero-header {
      font-size: 36px;
      width: 350px;
    }

    .hero-p {
      font-size: 16px;
      width: 300px;
    }
  }

  @include screen-460 {
    .hero-content {
      margin-left: -25px;
    }

    .hero-header {
      font-size: 30px;
      width: 300px;
    }

    .hero-p {
      font-size: 16px;
      width: 300px;
    }
  }

  @include screen-400 {
    .hero-content {
      margin-left: -35px;
      padding-left: 0px;
    }

    .hero-header {
      font-size: 25px;
      width: 220px;
    }

    .hero-p {
      font-size: 14px;
      width: 220px;
    }

    .template-btn {
      width: 100%;
      text-align: center;
    }
  }
}

.hero-content-left {
  h1 {
    color: var(--white-color);
  }

  .primary-outline {
    border-color: var(--white-color);

    &:hover {
      border-color: var(--black-light);
    }
  }
}

// Counter Section

.counter-section {
  padding: 140px 0;
  background-color: $secondary-color;

  .counter-row {
    padding-left: 72px;
    padding-right: 72px;

    @include portrait-phone {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .counter-box {
    padding: 50px 30px;
    background-color: $bg-counter-box;
    border-radius: 15px;
    text-align: center;
    transition: $transition-base;
    position: relative;

    &:hover {
      box-shadow: var(--box-shadow);
    }

    h3 {
      padding-top: 18px;
      font-size: 64px;
      margin-bottom: 10px;
      color: $text-color;
    }

    p {
      font-size: 32px;
      color: $text-color;
    }

    .icon-wraper {
      position: absolute;
      top: -20%;
      left: 50%;
      transform: translateX(-50%);
      width: 100px;
      height: 100px;

      .icon-box {
        background-color: $bg-counter-box;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 11;
        color: $text-color;
      }

      .overlay-box {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        background-color: $secondary-color;
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }
    }

    @include screen-400 {
      margin-bottom: 80px;

      h3 {
        padding-top: 10px;
        font-size: 40px;
      }

      p {
        font-size: 20px;
      }
    }

    @include screen-460 {
      margin-bottom: 80px;

      h3 {
        padding-top: 10px;
        font-size: 40px;
      }

      p {
        font-size: 20px;
      }
    }

    @include portrait-phone {
      margin-bottom: 80px;

      h3 {
        padding-top: 10px;
        font-size: 40px;
      }

      p {
        font-size: 20px;
      }
    }

    @include screen-768 {
      margin-bottom: 0px;

      h3 {
        padding-top: 20px;
        font-size: 40px;
      }

      p {
        font-size: 20px;
      }
    }

    @include screen-992 {
      margin-bottom: 80px;

      h3 {
        padding-top: 20px;
        font-size: 40px;
      }

      p {
        font-size: 20px;
      }
    }

    @include large-screen {
      margin-bottom: 80px;

      h3 {
        padding-top: 20px;
        font-size: 40px;
      }

      p {
        font-size: 20px;
      }
    }

    @include screen-1260 {
      margin-bottom: 80px;

      h3 {
        padding-top: 20px;
        font-size: 40px;
      }

      p {
        font-size: 20px;
      }
    }

    @include screen-1290 {
      margin-bottom: 80px;

      h3 {
        padding-top: 20px;
        font-size: 40px;
      }

      p {
        font-size: 20px;
      }
    }
  }

  @include screen-1290 {
    padding-bottom: 40px;
  }
}

// About Us Section

.about-us-section {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: $bg-counter-box;
  position: relative;
  overflow: hidden;

  .about-img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 725px;
    // max-width: 946px;
  }

  .about-us-row {
    padding-left: 72px;
    padding-right: 72px;

    @include portrait-phone {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  h6 {
    color: $text-color;
    font-size: 20;
    position: relative;
    padding-left: 80px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 12px;
      width: 73px;
      height: 1px;
      background-color: $primary-color;
    }
  }

  h2 {
    color: $text-color;
  }

  .about-paragraph {
    color: $text-color;
    font-weight: 400;
  }

  @include screen-1400 {
    .about-img {
      height: 720px;
      width: 850px;
    }
  }

  @include large-screen {
    .about-img {
      z-index: 0;
      width: 700px;
      height: 650px;
    }

    h6 {
      font-size: 16px;
    }

    .about-paragraph {
      font-size: 14px;
    }

    .template-btn {
      font-size: 14px;
      padding: 14px 45px;
    }
  }

  @include screen-992 {
    .about-img {
      display: none;
    }

    h6 {
      font-size: 16px;
    }

    .about-paragraph {
      font-size: 14px;
    }
  }

  @include screen-768 {
    h6 {
      font-size: 16px;
    }

    .about-paragraph {
      font-size: 14px;
    }
  }

  @include portrait-phone {
    .about-img {
      display: none;
    }

    h2 {
      font-size: 30px;
    }

    h6 {
      font-size: 16px;
    }

    .about-paragraph {
      font-size: 14px;
    }

    .template-btn {
      font-size: 14px;
    }
  }

  @include screen-460 {
    .about-img {
      display: none;
    }

    h6 {
      font-size: 16px;
    }

    .about-paragraph {
      font-size: 14px;
    }

    .about-btn {
      flex-wrap: wrap;
    }

    .template-btn {
      font-size: 14px;
      width: 100%;
      text-align: center;
    }

    @include screen-400 {
      .about-img {
        display: none;
      }

      h6 {
        font-size: 16px;
      }

      .about-paragraph {
        font-size: 14px;
      }

      .about-btn {
        flex-wrap: wrap;
      }
    }
  }

  @include screen-768 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

// Calculator Section
.calculator-section {
  background-color: $bg-calcultor-section;
  position: relative;
  padding-top: 20px;
  padding-bottom: 80px;

  h6 {
    color: $text-color;
    font-size: 20;
    position: relative;
    padding-left: 80px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 12px;
      width: 73px;
      height: 1px;
      background-color: $primary-color;
    }
  }

  h2 {
    color: $text-color;
  }

  .calculator-paragraph {
    color: $text-color;
    font-weight: 500;
    padding-bottom: 10px;
  }

  .calcultor-img {
    width: 750px;
    height: 790px;
    position: absolute;
    left: -37px;
    bottom: 150px;
    margin-left: 145px;
  }

  .form-areas {
    background-color: $bg-counter-box;
    border-radius: 10px;
    padding: 25px;

    .form-feild {
      padding: 30px;

      .form-inpt {
        border-radius: 10px;
        padding: 10px;
        width: 100%;
        margin-bottom: 5px;
        color: $text-color;
        font-size: 16px;

        .form-control {
          &:focus {
            box-shadow: none;
            border-color: $text-color;
          }
        }

        .forms {
          height: 50px;
          background-color: $bg-calcultor-section;
          color: $text-color;

          &::placeholder {
            color: $text-color;
            font-size: 16px;
          }
        }

        .disable-forms {
          height: 50px;
          background-color: $bg-disable-form;
          color: $text-color;

          &::placeholder {
            color: $text-color;
            font-size: 16px;
          }
        }
      }

      .btn-forms {
        width: 100%;
        margin-top: 20px;
        // margin-bottom: 20px;
      }
    }
  }

  @include screen-1860 {
    .calcultor-img {
      width: 705px;
      height: 760px;
      position: absolute;
      left: -60px;
      bottom: 159px;
      margin-left: 150px;
    }

    .form-areas {
      padding: 20px;
      left: 0px;
    }
  }

  @include screen-1600 {
    .calcultor-img {
      width: 633px;
      height: 707px;
      position: absolute;
      left: -57px;
      bottom: 172px;
      margin-left: 100px;
    }

    .form-areas {
      padding: 16px;
    }
  }

  @include screen-1460 {
    .calcultor-img {
      width: 621px;
      height: 695px;
      position: absolute;
      left: 0px;
      bottom: 168px;
      margin-left: 20px;
    }

    .form-areas {
      padding: 10px;
    }
  }

  @include screen-1260 {
    .calcultor-img {
      width: 573px;
      height: 670px;
      position: absolute;
      left: -11px;
      bottom: 179px;
      margin-left: 20px;
    }

    .form-areas {
      padding: 10px;
    }
  }

  @include large-screen {
    .calcultor-img {
      width: 543px;
      height: 674px;
      position: absolute;
      left: -20px;
      bottom: 174px;
      margin-left: 20px;
    }

    .form-areas {
      padding: 10px;
    }
  }

  @include screen-1060 {
    .calcultor-img {
      width: 505px;
      height: 646px;
      position: absolute;
      left: -18px;
      bottom: 188px;
      margin-left: 20px;
    }

    .form-areas {
      padding: 5px;
    }
  }

  @include screen-992 {
    .calcultor-img {
      width: 425px;
      height: 620px;
      position: absolute;
      left: -16px;
      bottom: 173px;
      margin-left: 20px;
    }

    h2 {
      font-size: 32px;
    }

    h6 {
      font-size: 18px;
    }

    .calculator-paragraph {
      font-size: 16px;
    }

    .form-areas {
      padding: 5px;
    }
  }

  @include screen-820 {
    .calcultor-img {
      width: 380px;
      height: 551px;
      position: absolute;
      left: -18px;
      bottom: 182px;
      margin-left: 20px;
    }

    .form-areas {
      padding: 5px;
    }
  }

  @include screen-768 {
    padding-top: 10px;
    padding-bottom: 60px;

    h2 {
      font-size: 30px;
      padding-bottom: 0;
    }

    h6 {
      font-size: 18px;
      padding-bottom: 0;
    }

    .calcultor-img {
      width: 538px;
      height: 637px;
      position: relative;

      left: 48%;
      transform: translateX(-50%);
      top: 0px;
      bottom: 420px;
    }

    .calculation-details {
      padding: 60px;

      .calculator-paragraph {
        color: $text-color;
        font-weight: 500;
        font-size: 16px;
      }
    }
  }

  @include portrait-phone {
    padding-top: 0px;
    padding-bottom: 0px;

    .calcultor-img {
      width: 445px;
      height: 558px;
      position: relative;
      left: 46%;
      transform: translateX(-50%);
      top: 0px;
      bottom: 420px;
    }
  }

  @include screen-460 {
    padding-top: 10px;
    padding-bottom: 40px;

    .calcultor-img {
      width: 310px;
      height: 425px;
      position: relative;
      left: 44%;
      transform: translateX(-50%);
      top: 0px;
      bottom: 420px;
    }

    .calculation-details {
      padding: 30px;

      .calculator-paragraph {
        color: $text-color;
        font-weight: 400;
        font-size: 14px;
      }
    }

    .form-areas {
      .form-feild {
        .form-inpt {
          font-size: 14px;
        }
      }
    }

    .btn-forms {
      font-size: 14px;
    }

    .form-btn {
      padding: 14px 14px;
    }
  }

  @include screen-400 {
    .calcultor-img {
      width: 270px;
      height: 381px;
      position: relative;
      left: 44%;
      transform: translateX(-50%);
      top: 0px;
      bottom: 420px;
    }
  }
}

// Choose Us Section

.choose-us-section {
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: $bg-choose-us;

  .choose-section-header {
    color: $text-color;
    justify-content: center;
    text-align: center;
    padding-bottom: 110px;

    h6 {
      color: $text-color;
      font-size: 20;
      position: relative;
      display: inline-block;

      &::before {
        content: "";
        position: absolute;

        top: 12px;
        right: 105%;
        width: 73px;
        height: 1px;
        background-color: $primary-color;
      }
    }

    p {
      max-width: 558px;
      margin: 0 auto;
    }
  }

  .choose-us-row {
    padding-left: 72px;
    padding-right: 72px;

    @include portrait-phone {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .choose-us-box {
    padding: 50px 30px;
    background-color: $bg-counter-box;
    border-radius: 15px;
    text-align: center;
    transition: $transition-base;
    position: relative;
    margin-bottom: 80px;

    &:hover {
      box-shadow: $box-shadow;
    }

    h5 {
      padding-top: 20px;
      margin-bottom: 10px;
      color: $text-color;
    }

    p {
      color: $text-color;
    }

    .icon-wraper {
      position: absolute;
      top: -20%;
      left: 50%;
      transform: translateX(-50%);
      width: 100px;
      height: 100px;

      .icon-box {
        background-color: $bg-counter-box;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 11;

        .fas {
          color: $text-color;
        }
      }

      .overlay-box {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        background-color: $bg-choose-us;
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }
    }
  }

  @include large-screen {
    .choose-us-box {
      h5 {
        font-size: 18px;
      }

      p {
        font-size: 14px;
      }
    }
  }

  @include screen-768 {
    .choose-section-header {
      h6 {
        font-size: 18px;
      }

      h2 {
        font-size: 30px;
      }

      p {
        font-size: 14px;
      }
    }
  }
}

// Offer Section

.offer-section {
  padding-top: 150px;
  padding-bottom: 0px;
  background-color: $bg-calcultor-section;
  background-size: 100% auto;

  .offer-section-header {
    color: $text-color;
    justify-content: center;
    text-align: center;
    padding-bottom: 110px;

    h6 {
      color: $text-color;
      font-size: 20;
      position: relative;
      display: inline-block;

      &::before {
        content: "";
        position: absolute;

        top: 12px;
        right: 105%;
        width: 73px;
        height: 1px;
        background-color: $primary-color;
      }
    }

    p {
      max-width: 558px;
      margin: 0 auto;

      @include screen-768 {
        font-size: 16px;
      }
    }
  }

  .offer-row-box {
    padding-left: 72px;
    padding-right: 72px;

    @include portrait-phone {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .offer-box {
    padding: 50px 30px;
    border-radius: 15px;
    text-align: center;
    transition: $transition-base;
    position: relative;
    margin-bottom: 100px;
    border: 2px solid transparent;
    box-shadow: none;
    background-origin: border-box;

    &:hover {
      border: 2px solid $text-color;

      .icon-wraper {
        .icon-box {
          border: 2px solid $text-color;
        }
      }
      .primary-outline-offer {
        background-color: $bg-white-1;
        color: $text-shade-300;
      }
    }

    .icon-wraper {
      position: absolute;
      top: -20%;
      left: 50%;
      transform: translateX(-50%);
      width: 100px;
      height: 100px;

      .icon-box {
        width: 262px;
        height: 62px;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 91%;
        left: 51%;
        transition: $transition-base;
        transform: translate(-50%, -50%);
        z-index: 11;
        border: 2px solid transparent;

        h6 {
          color: $text-color;
          font-size: 20px;
        }
      }

      .overlay-box {
        position: absolute;
        top: 60px;
        left: -91px;
        z-index: 0;
        background-color: $bg-calcultor-section;
        width: 283px;
        height: 72px;
        border-radius: 40px;
      }

      @include large-screen {
        top: -15%;

        .icon-box {
          width: 232px;
          height: 52px;
          top: 72%;
          left: 50%;
        }

        .overlay-box {
          width: 253px;
          height: 62px;
          top: 46px;
          left: -77px;
        }
      }

      @include screen-1060 {
        .icon-box {
          width: 206px;
          height: 52px;
          top: 70%;
          left: 50%;
        }

        .overlay-box {
          width: 226px;
          height: 62px;
          top: 45px;
          left: -64px;
        }
      }

      @include screen-820;

      @include screen-460 {
        top: -15%;

        .icon-box {
          width: 180px;
          height: 50px;
          top: 91px;
        }

        .overlay-box {
          width: 195px;
          height: 62px;
          top: 62px;
          left: -48px;
        }
      }

      @include screen-460 {
        top: -15%;

        .icon-box {
          width: 180px;
          height: 50px;
          top: 70px;
        }

        .overlay-box {
          width: 195px;
          height: 62px;
          top: 43px;
          left: -48px;
        }
      }
    }

    .offer-content {
      padding-left: 30px;
      padding-top: 20px;

      .offer-price {
        h4 {
          text-align: start;

          span {
            font-size: 18px;
          }

          color: $text-color;
        }
      }

      hr {
        color: $text-color;
        opacity: 1.25;
      }

      ul > li {
        color: $text-color;
        font-size: 22px;
        font-weight: 500;
        text-align: start;
        line-height: 40px;
      }

      @include large-screen {
        padding-left: 10px;

        .offer-price {
          h4 {
            font-size: 24px;
          }
        }

        ul > li {
          font-size: 18px;
        }
      }

      @include screen-992 {
        padding-left: 30px;
        padding-top: 20px;

        .offer-price {
          h4 {
            text-align: start;

            span {
              font-size: 18px;
            }

            color: $text-color;
          }
        }

        hr {
          color: $text-color;
          opacity: 1.25;
        }

        ul > li {
          color: $text-color;
          font-size: 22px;
          font-weight: 500;
          text-align: start;
          line-height: 40px;
        }
      }

      @include screen-900 {
        padding-left: 10px;

        .offer-price {
          h4 {
            font-size: 24px;
          }
        }

        ul > li {
          font-size: 18px;
        }
      }

      @include screen-460 {
        padding-left: 5px;
      }
    }
  }
}

// Stat Section
.stat-section {
  padding-top: 80px;
  padding-bottom: 50px;
  background-color: $bg-calcultor-section;
  background-size: 100% auto;
  position: relative;

  .stat-section-img {
    width: 100%;
    height: 554px;
    position: absolute;
    // object-fit: cover;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
  }

  .stat-section-header {
    color: $text-color;
    justify-content: center;
    text-align: center;
    padding-bottom: 10px;

    h6 {
      color: $text-color;
      font-size: 20;
      position: relative;
      display: inline-block;

      &::before {
        content: "";
        position: absolute;

        top: 12px;
        right: 105%;
        width: 73px;
        height: 1px;
        background-color: $primary-color;
      }
    }

    p {
      max-width: 558px;
      margin: 0 auto;

      @include portrait-phone {
        font-size: 14px;
      }
    }
  }

  .stat-table {
    padding: 50px 72px;
    position: relative;
    z-index: 1;

    .custom-table {
      border-radius: 26px;
      box-shadow: 0px 30px 30px -20px rgba(255, 255, 255, 0.42);
      overflow: hidden;
      min-width: 800px;
    }

    .tb-row {
      color: $text-color;
      height: 80px;
    }

    .tb-head {
      background-color: $bg-counter-box;
      vertical-align: middle;
    }

    .tb-body {
      background-color: $bg-choose-us;
      vertical-align: middle;
    }

    tbody,
    td,
    tfoot,
    th,
    thead,
    tr {
      border-color: #000000;
    }

    th,
    td {
      font-size: 20px;
      font-weight: 500;
      line-height: 32px;
      padding-left: 40px;
    }

    .tb-data-username {
      padding-left: 10px;
    }

    @include portrait-phone {
      padding: 50px 20px;
    }
  }
}

// Gateways Sections

.gateways-section {
  padding-top: 130px;
  padding-bottom: 50px;
  background-color: $bg-calcultor-section;
  background-size: 100% auto;
  // position: relative;

  .gateways-section-header {
    color: $text-color;
    justify-content: center;
    text-align: center;
    padding-bottom: 60px;

    h6 {
      color: $text-color;
      font-size: 20;
      position: relative;
      display: inline-block;

      &::before {
        content: "";
        position: absolute;

        top: 12px;
        right: 105%;
        width: 73px;
        height: 1px;
        background-color: $primary-color;
      }
    }

    p {
      max-width: 558px;
      margin: 0 auto;

      @include portrait-phone {
        font-size: 14px;
      }
    }
  }

  .gateways-box {
    background-color: $bg-counter-box;
    padding: 45px;
    border-radius: 8px;
    img {
      height: 80px;
      width: 80px;
    }

    // max-width: 170px;
    // margin-right: 24px;
    @include screen-1290 {
      padding: 30px;
    }

    @include large-screen {
      padding: 20px;
    }

    @include screen-992 {
      margin-bottom: 20px;
    }
  }
}

// Testimonial Section

.testimonial-section {
  padding-top: 100px;
  padding-bottom: 20px;
  background-color: $bg-calcultor-section;
  background-size: 100% auto;

  // position: relative;
  .feedback-sliderr {
    .slick-list {
      padding: 80px 0;

      @include large-screen {
        padding: 100px 0;
      }
    }
  }

  .testimonial-section-header {
    color: $text-color;
    justify-content: center;
    text-align: center;
    padding-bottom: 65px;

    h6 {
      color: $text-color;
      font-size: 20;
      position: relative;
      display: inline-block;

      &::before {
        content: "";
        position: absolute;

        top: 12px;
        right: 105%;
        width: 73px;
        height: 1px;
        background-color: $primary-color;
      }
    }

    p {
      max-width: 558px;
      margin: 0 auto;

      @include portrait-phone {
        font-size: 14px;
      }
    }

    @include screen-992 {
      padding-bottom: 10px;
    }
  }

  .testimonial-row {
    padding-left: 72px;
    padding-right: 72px;

    @include portrait-phone {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .testimonial-box {
    padding: 50px 24px;
    background-color: $bg-counter-box;
    border-radius: 15px;
    text-align: start;

    transition: $transition-base;
    position: relative;

    &:hover {
      box-shadow: var(--box-shadow);
    }

    h5 {
      padding-top: 50px;
      color: $text-color;
    }

    p {
      font-size: 16px;
      color: $text-color;
      font-weight: 400;
    }

    .icon-wraper {
      position: absolute;
      top: -20%;
      left: 50%;
      transform: translateX(-50%);
      width: 100px;
      height: 100px;

      .icon-box {
        background-color: white;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 61%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 11;
      }

      .overlay-box {
        position: absolute;
        top: 0px;
        left: -10px;
        z-index: 0;
        background-color: $secondary-color;
        width: 120px;
        height: 120px;
        border-radius: 50%;
      }
    }

    @include large-screen {
      h5 {
        font-size: 20px;
      }

      p {
        font-size: 14px;
      }
    }

    @include screen-992 {
      margin-bottom: -20px;

      h5 {
        font-size: 20px;
      }

      p {
        font-size: 14px;
      }
    }

    @include screen-768 {
      h5 {
        font-size: 20px;
      }

      p {
        font-size: 14px;
      }
    }

    @include portrait-phone {
      h5 {
        font-size: 20px;
      }

      p {
        font-size: 14px;
      }
    }

    @include screen-460 {
      h5 {
        font-size: 18px;
      }

      p {
        font-size: 12px;
      }
    }

    @include screen-400 {
      h5 {
        font-size: 18px;
      }

      p {
        font-size: 12px;
      }
    }

    .counter-content {
      .left-quotes {
        position: absolute;
        top: 40;
        left: 16;
        width: 44px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
      }

      .right-quotes {
        position: absolute;
        bottom: 16px;
        right: 24px;
        width: 44px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
      }
    }
  }

  @include screen-992 {
    padding-top: 20px;
    padding-bottom: 0px;
  }
}

// Blog Section

.blog-section {
  padding-top: 30px;
  padding-bottom: 50px;
  background-color: $bg-calcultor-section;
  background-size: 100% auto;
  // position: relative;

  .blog-section-header {
    color: $text-color;
    justify-content: center;
    text-align: center;
    padding-bottom: 65px;

    h6 {
      color: $text-color;
      font-size: 20;
      position: relative;
      display: inline-block;

      &::before {
        content: "";
        position: absolute;

        top: 12px;
        right: 105%;
        width: 73px;
        height: 1px;
        background-color: $primary-color;
      }
    }

    p {
      max-width: 558px;
      margin: 0 auto;

      @include portrait-phone {
        font-size: 14px;
      }
    }
  }

  .blog-section-row {
    padding-left: 72px;
    padding-right: 72px;

    @include portrait-phone {
      padding-left: 10px;
      padding-right: 10px;
    }

    .blog-box {
      padding: 50px 2px;

      border-radius: 15px;
      text-align: center;
      transition: $transition-base;
      position: relative;

      .icon-wraper {
        position: absolute;
        top: 4px;
        left: 55px;
        transform: translateX(-50%);
        width: 100px;
        height: 100px;
        font-family: $date-font;

        .icon-box {
          background-color: $primary-color;
          width: 74px;
          height: 74px;
          border-radius: 12px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 50px;
          left: 65px;
          transform: translate(-50%, -50%);
          z-index: 11;
          color: $text-color;

          h5 {
            font-weight: 500;
          }
        }

        .overlay-box {
          position: absolute;
          top: 5px;
          left: 20px;
          z-index: 0;
          background-color: $bg-calcultor-section;
          width: 90px;
          height: 90px;
          border-radius: 12px;
        }
      }

      .blog-content {
        img {
          width: 100%;
          border-radius: 16px 16px 0px 0px;
        }

        .blog-short-details {
          text-align: start;
          background-color: $bg-counter-box;
          padding: 24px;
          border-radius: 0px 0px 16px 16px;

          h5 {
            color: $text-color;
          }

          p {
            font-size: 18px;
            color: $text-color;

            .read-more {
              color: $primary-color;
            }
          }

          @include screen-1260 {
            h5 {
              font-size: 22px;
            }

            p {
              font-size: 16px;
            }
          }

          @include portrait-phone {
            h5 {
              font-size: 20px;
            }

            p {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

// Footer Section

/************* about section start ************/
.ab-award-box {
  left: 40px;
  bottom: 40px;
  max-width: 280px;
  border-radius: 15px;

  &::before {
    content: "";
    position: absolute;
    left: 10px;
    top: -10px;
    width: 100%;
    height: 100%;
    border: 2px solid var(--white-color);
    transition: var(--transition-base);
    border-radius: 15px;
  }

  &:hover {
    &::before {
      left: -10px;
    }
  }
}

.mt-150 {
  margin-top: -650px;
  padding: 400px 0;
}

.ab-flex-box {
  img {
    max-width: 100px;
  }
}

.cr-subtitle {
  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 1px;
    background-color: var(--primary-color);
  }

  &.text-white {
    &::before {
      background-color: var(--white-color);
    }
  }
}

/************************* service section start ***********************/
.service-section {
  .circle-shape-1 {
    width: 160px;
    height: 160px;
    background-color: #2d2d2d;
    border-radius: 50%;
    opacity: 0.6;
    top: 30%;
    left: -80px;
  }

  .circle-shape-2 {
    width: 800px;
    height: 800px;
    background-color: #2d2d2d;
    border-radius: 50%;
    opacity: 0.6;
    left: -400px;
    bottom: -300px;
  }
}

.yyut {
  color: #000000;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.service-card {
  padding: 50px;

  .explore-btn {
    color: var(--headings-color);
    font-weight: 600;
    transition: var(--transition-base);
    font-size: 17px;

    svg {
      path {
        transition: var(--transition-base);
      }
    }
  }

  &:hover {
    .icon-wrapper {
      img {
        animation: 0.3s shake;
      }
    }

    .explore-btn {
      color: var(--primary-color);

      svg {
        animation: 0.3s toLeftFromRight linear;

        path {
          fill: var(--primary-color);
        }
      }
    }
  }

  @include screen-992 {
    flex-wrap: wrap;
  }

  @include portrait-phone {
    padding: 32px;
  }
}

/************************ ticker section start ************************/
.ticker-section {
  padding: 32px 0;
  background-repeat: no-repeat;
  position: relative;
  margin-top: -40px;
  background-size: cover;
}

/************************** experts section start *********************/
.cta-box {
  padding: 40px;
  max-width: 600px;

  .icon-wrapper {
    width: 55px;
    height: 55px;
  }

  .icon-tel {
    width: 73px;
    height: 73px;
    background: linear-gradient(90deg, #cbc7f1 0%, rgba(226, 234, 243, 0) 100%);
    padding: 12px;
    position: relative;
    z-index: 1;
    animation: 1s ripple-animation linear infinite;

    span {
      position: relative;
    }
  }
}

.exp-year-box {
  width: 190px;
  height: 190px;
  background-color: var(--primary-color);
  left: 5%;
  bottom: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 8px 24px;
  text-align: center;

  h3 {
    margin-bottom: 2px;
  }

  h6 {
    line-height: 1.2em;
  }
}

.cr-pf-slider {
  .prev-arrow,
  .next-arrow {
    width: 60px;
    height: 60px;
    background-color: rgba(#4e3cfe, 0.07);
    color: var(--primary-color);
    transition: var(--transition-base);
    border-radius: 50%;
    position: absolute;
    top: -54px;

    &:hover {
      background-color: var(--primary-color);
      color: var(--white-color);
    }

    @include portrait-phone {
      display: none;
    }
  }

  .prev-arrow {
    right: 76px;
  }

  .next-arrow {
    right: 0;
  }
}

.pf-box {
  border-radius: 12px;
  overflow: hidden;

  img {
    transition: var(--transition-base);
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--headings-color);
    opacity: 0;
    transition: var(--transition-base);
    z-index: 1;
  }

  .pf-content {
    position: absolute;
    left: 50px;
    bottom: 50px;
    z-index: 2;
    max-width: calc(100% - 100px);
  }

  .explore-btn {
    position: absolute;
    left: 50px;
    top: 50px;
    width: 80px;
    height: 80px;
    background-color: rgba(#ffffff, 0.09);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--white-color);
    z-index: 1;
    opacity: 0;
    visibility: hidden;

    &:hover {
      background-color: var(--primary-color);
      border-color: var(--primary-color);
      color: var(--white-color);

      svg {
        animation: 0.3s toLeftFromRight;
      }
    }
  }

  h3,
  p {
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-base);
  }

  h3 {
    font-size: 30px;
    line-height: 1.2em;
    margin-bottom: 16px;
  }

  &:hover {
    img {
      transform: scale(1.1);
    }

    &::before {
      opacity: 0.7;
    }

    .explore-btn {
      opacity: 1;
      visibility: visible;
      animation: 0.5s theme_fadeInUp;
    }

    h3 {
      animation: 0.6s theme_fadeInUp;
      opacity: 1;
      visibility: visible;
    }

    p {
      animation: 0.7s theme_fadeInUp;
      opacity: 1;
      visibility: visible;
    }
  }

  &.box-sm {
    .explore-btn {
      width: 60px;
      height: 60px;
      left: 24px;
      top: 32px;
    }

    .pf-content {
      left: 24px;
      bottom: 32px;
      max-width: calc(100% - 48px);
    }
  }
}

/********************* feedback section start **********************/
.feedback-section {
  .circle-shape-1,
  .circle-shape-2 {
    width: 600px;
    height: 600px;
    background-color: #272727;
    border-radius: 50%;
  }

  .circle-shape-1 {
    top: -200px;
    left: -130px;
  }

  .circle-shape-2 {
    bottom: -270px;
    right: -110px;
  }
}

.feedback-slider {
  .prev-arrow,
  .next-arrow {
    position: absolute;
    top: -120px;

    svg {
      path {
        opacity: 0.2;
        transition: var(--transition-base);
      }
    }

    &:hover {
      svg {
        path {
          opacity: 1;
        }
      }
    }
  }

  .prev-arrow {
    right: 80px;
  }

  .next-arrow {
    right: 0;
  }

  @include screen-768 {
    .prev-arrow,
    .next-arrow {
      display: none;
    }
  }
}

.feedback-single {
  border-radius: 40px;
  padding: 70px;
  display: flex;
  gap: 65px;

  .clients-comment {
    font-size: 30px;
  }

  @include screen-992 {
    padding: 60px;

    & > img {
      display: none;
    }
  }

  @include portrait-phone {
    padding: 40px 32px;

    .clients-comment {
      font-size: 22px;
    }
  }
}

/************************* pricing section start *******************/
.pricing-box {
  padding: 70px 40px 40px;
  background-color: var(--gray-100);
  border-radius: 30px;
  transition: var(--transition-base);

  h3 {
    font-size: 36px;
  }

  .package-icon {
    width: 120px;
    height: 120px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 18px;
    border: 10px solid var(--gray-100);
  }

  .pricing-box-content {
    padding: 110px 40px 40px;
    background-color: var(--white-color);
    border-radius: 30px;
    margin-top: -60px;

    .pricing-title {
      span {
        margin-left: -16px;
        color: var(--text-color);
      }
    }

    .pricing-features {
      li {
        font-weight: 500;

        + li {
          margin-top: 10px;
        }
      }
    }

    .template-btn {
      border-radius: 30px;

      &::after {
        border-radius: 30px;
      }
    }
  }

  padding: 50px 32px 32px;

  &:hover {
    background-color: var(--primary-color);

    h3,
    .subtitle {
      color: var(--white-color);
    }

    .package-icon {
      border-color: var(--primary-color);
    }
  }
}

/************************************* contact section start ********************************/
.contact-section {
  .circle-shape,
  .circle-shape-2 {
    background-color: #272727;
  }

  .circle-shape {
    width: 600px;
    height: 600px;
    left: -400px;
    bottom: -400px;
  }

  .circle-shape-2,
  .circle-shape-3 {
    width: 800px;
    height: 800px;
  }

  .circle-shape-2 {
    right: -200px;
    top: -200px;
  }

  .circle-shape-3 {
    border: 2px solid #272727;
    left: -440px;
    bottom: -440px;
  }

  &.dark-bg-color {
    .lead {
      color: #898989;
    }

    .contact-info-list {
      li {
        span {
          color: #6b6b6b;
        }
      }
    }
  }
}

.contact-info-list {
  li {
    .icon {
      width: 80px;
      height: 80px;
    }

    h6 {
      font-size: 22px;
      line-height: 1.3em;
      transition: var(--transition-base);

      &:hover {
        color: var(--primary-color) !important;
      }
    }

    + li {
      margin-top: 40px;
    }

    &:hover {
      .icon {
        img {
          animation: 0.4s shake linear;
        }
      }
    }
  }
}

.contact-form-box {
  padding: 60px;
  border-radius: 30px;

  .contact-form {
    label {
      display: block;
      font-weight: 500;
      color: var(--headings-color);
      margin-bottom: 24px;
    }
  }

  @include portrait-phone {
    padding: 32px;
  }
}

/************************* blog section start **************************/
.article-card {
  border-radius: 25px;
  overflow: hidden;
  z-index: 1;

  .overlay-bg {
    position: absolute;
    left: -110%;
    top: 0;
    width: 120%;
    height: 100%;
    background-color: rgba(#000000, 0.55);
    transform: skew(-10deg);
    transition: var(--transition-base);
    opacity: 0;
    z-index: 1;
  }

  .feature-image {
    img {
      transition: var(--transition-base);
    }
  }

  .card-content-wrapper {
    width: calc(100% - 60px);
    position: absolute;
    z-index: 2;
    left: 30px;
    bottom: 30px;
    padding: 42px;
    border-radius: 25px;

    .blog-meta {
      span {
        + span {
          position: relative;

          &::before {
            content: "";
            position: absolute;
            left: -12px;
            top: 0;
            width: 1px;
            height: 16px;
            background-color: var(--primary-light);
            transform: rotate(10deg);
          }
        }
      }
    }

    .title {
      font-size: 30px;
      line-height: 38px;
    }

    .description {
      display: none;
    }

    .explore-btn {
      font-weight: 700;
      color: var(--primary-color);

      &:hover {
        i {
          animation: 0.3s toLeftFromRight;
        }
      }
    }
  }

  &:hover {
    .overlay-bg {
      left: -10%;
      opacity: 1;
    }

    .feature-image {
      img {
        transform: scale(1.1);
      }
    }
  }

  @include portrait-phone {
    .overlay-bg {
      display: none;
    }

    .card-content-wrapper {
      position: relative;
      left: auto;
      margin-left: 15px;
      width: calc(100% - 30px);
      box-shadow: var(--box-shadow);
    }
  }
}
