.breadcrumb-section-login {
  overflow: hidden;
  height: 201px;
  width: 100%;
  margin-top: -230px;
  padding-top: 255px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  .breadcrumb-content {
    color: $text-color;
  }

  // @include large-screen {
  //   height: 580px;
  //   .breadcrumb-content {
  //     h1 {
  //       font-size: 50px;
  //     }
  //     h4 {
  //       font-size: 28px;
  //     }
  //   }
  // }
  // @include screen-992 {
  //   height: 500px;
  //   .breadcrumb-content {
  //     h1 {
  //       font-size: 40px;
  //     }
  //     h4 {
  //       font-size: 24px;
  //     }
  //   }
  // }
  // @include screen-768 {
  //   height: 450px;
  //   .breadcrumb-rows {
  //     padding-left: 40px;
  //     padding-right: 40px;
  //   }
  //   .breadcrumb-content {
  //     h1 {
  //       font-size: 32px;
  //     }
  //     h4 {
  //       font-size: 20px;
  //     }
  //   }
  // }
  // @include portrait-phone {
  //   height: 420px;
  //   .breadcrumb-rows {
  //     padding-left: 30px;
  //     padding-right: 30px;
  //   }
  //   .breadcrumb-content {
  //     h1 {
  //       font-size: 24px;
  //     }
  //     h4 {
  //       font-size: 16px;
  //     }
  //   }
  // }
}

.login-section {
  overflow: hidden;
  padding-top: 80px;

  background-color: $bg-calcultor-section;
  .login-rows {
    border-radius: 12px;
    padding-left: 72px;
    padding-right: 72px;
    padding-bottom: 140px;
    @include portrait-phone {
      padding-left: 10px;
      padding-right: 10px;
    }
    .login-img {
      img {
        width: 570px;
        height: 1000px;
        border-radius: 12px 0px 0px 12px;
        @include screen-992 {
          display: none;
        }
      }
    }
    .form-section {
      margin: 0;
      padding: 0;

      .login-form {
        background-color: $bg-counter-box;
        padding-bottom: 28px;
        border-radius: 0px 12px 12px 0px;
        @include screen-992 {
          border-radius: 12px;
          overflow: hidden;
        }
        .login-logo {
          // padding: 0px 230px;
          display: flex;
          padding-top: 40px;
          padding-bottom: 40px;
          align-items: center;
          justify-content: center;

          img {
            width: 110px;
            height: 40px;
            align-items: center;
          }
        }
        h4 {
          color: $text-color;
          font-weight: 700;
          line-height: 130%;
          text-align: center;
        }
        .login-form-area {
          padding: 40px 60px 10px 60px;
          .form-outline {
            margin-bottom: 20px;
            position: relative;
            .password-show {
              position: absolute;
              top: 46px;
              right: 18px;
            }
            label {
              color: $text-color;
              font-weight: 500;
              font-size: 16px;
              line-height: 130%;
            }
            input {
              height: 50px;
              border-radius: 8px;
              border: 1px solid $secondary-shade-300;
              background-color: $bg-calcultor-section;
              color: $text-color;
              font-weight: 500;
              font-size: 16px;
              line-height: 130%;
              padding: 0 20px;

              &:focus {
                border: 1px solid $secondary-shade-400;
              }
            }
            ::placeholder {
              color: $text-color;
            }
          }

          .login-forgot {
            padding-top: 3px;
            text-align: center;
            a {
              color: $text-color;
              font-weight: 400;
              font-size: 14px;
              line-height: 130%;
              &:hover {
                color: $primary-color;
              }
            }
          }
          .form-check {
            .form-check-input {
              background-color: $bg-calcultor-section;
              width: 16px;
              height: 16px;
            }
            color: $text-color;
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;
            .form-check-label {
              padding-top: 3px;

              .term-condition-span {
                font-weight: 500;
              }
            }
          }
          .btn-forms {
            margin-top: 5px;
            width: 100%;
            font-weight: 500;
          }
        }
        .social-icon-section {
          text-align: center;
          .sign-up-option {
            padding-top: 90px;
          }
          .sign-up {
            font-size: 20px;
            font-weight: 600;
            color: $text-color;
          }
        }
      }
    }
  }
}
